<main id="main">
  <section class="archive">
    <div class="archive-container">
      <div class="archive-post">
      <h2>关于作者</h2>
      <div><strong>5年+</strong>前端开发经验</div>  
      <div>目前就职于南京<strong>焦点科技-新一站</strong></div>
      <div>拥有<strong>web端，app原生端，node端，react-native开发，以及app内嵌触屏等开发经验<strong/>，善于解决开发过程中团队<strong>技术及环境方面的痛点<strong/></div>
      <div>热爱生活，喜欢<strong>撸铁，打羽毛球，桌球，乒乓球，以及旅行<strong/></div>
      <div>喜欢<strong>思考、复盘、总结</strong>，热爱<strong>分享技术</strong>，希望小小博客能帮到您！O(∩_∩)O~</div>
      </div>
     </div>
  </section>
 <main/> 
